<!-- Breadcrumb Start -->
<div id="detailIndex">
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">首頁</a>
                    <a class="breadcrumb-item text-dark" href="#">物件</a>
                    <span class="breadcrumb-item active">物件資料</span>
                </nav>
            </div>
        </div>

        <!-- Breadcrumb End -->
        <!-- Shop Detail Start -->

        <div class="container-fluid pb-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 mb-30">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            <div class="carousel-item active">
                                <a href="/Shop/Index/" class="btn btn-light btn-sm mb-3 "><i class="bi bi-arrow-bar-left">Back</i></a>
                                <img class="w-100 h-100" :src="houseDetail.images" alt="Image">
                            </div>

                        </div>

                    </div>
                </div>
                @*            {{houseDetail.roomType.name}}*@
                <div class="col-lg-7 h-auto mb-30">
                    <div class="h-100 bg-light p-30">
                        <h3>{{houseDetail.tittle}}</h3>
                        <div class="d-flex ">
                            <small class="pt-1"></small>
                        </div>
                        <h3 class="font-weight-semi-bold ">${{houseDetail.price}}</h3>
                        <div class="row mt-3">
                            <div class="d-flex col-4 ">
                                <strong class="text-dark mr-3" style="font-size:20px">房型</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.roomTypeName}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3" style="font-size:20px">樓層</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.floor}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3" style="font-size:20px">坪數</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.meters}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3"style="font-size:20px">房間</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.room}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3"style="font-size:20px">衛浴</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.bathroom}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3"style="font-size:20px">大廳</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.hall}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3" style="font-size:20px">租約</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.lease}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3" style="font-size:20px">汽車</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.car}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3" style="font-size:20px">機車</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.motorcycle}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-4">
                                <strong class="text-dark mr-3" style="font-size:20px">雜費</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.miscellaneous}}</label>
                                </div>
                            </div>
                            <div class="d-flex col-8">
                                <strong class="text-dark mr-3" style="font-size:20px">地址</strong>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <label style="font-size:20px">{{houseDetail.address}}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">房屋介紹</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">房屋位址</a>
              
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">房屋介紹</h4>
                        <p>{{houseDetail.message}}</p>
                        <p></p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">房屋位址</h4>
                        <div class="col-lg-5 mb-5">
                            <div class="bg-light p-30 mb-30 ml-30">
                                <iframe style="width: 200%; height: 500px;"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1074.670979670405!2d121.52412873046725!3d25.042633256790328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9708f9d0e77%3A0xde4dfc6bbe7f2dac!2z5ZyL56uL5Y-w5YyX5ZWG5qWt5aSn5a245om_5pum5qiT!5e0!3m2!1szh-TW!2stw!4v1676374079721!5m2!1szh-TW!2stw"
                                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                                                          
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shop Detail End -->
    @section Scripts
        {
        <script>
            let app = new Vue({
                el: "#detailIndex",
                data: {
                    houseDetail: {
                        id: "",
                        address: "",
                        bathroom: "",
                        car: "",
                        city: "",
                        conditions: "",
                        district: "",
                        equipment: "",
                        images: "",
                        floor: "",
                        hall: "",
                        lease: "",
                        message: "",
                        meters: "",
                        miscellaneous: "",
                        motorcycle: "",
                        price: "",
                        room: "",
                        roomType: "",
                        roomTypeId: "",
                        tittle: "",
                    },
                    equipmentName: [],
                },
                mounted: function () {
                    let _self = this
                    fetch("/api/detail/GetHouseDetailById/" + "@ViewBag.id")
                        .then(function (response) {
                            console.log(response)
                            return response.json()
                        })
                        .then(function (result) {
                            console.log(result)
                            _self.houseDetail = result
                            _self.houseDetail.id = result.Id
                        })
                },
                methods: {
                    //equipment:function(){
                    //    for (var i = 0; i <= allHouseDetail.equipment.length; i++){
                    //        this.equipmentName.push()
                    //    }
                    //},
                },
            });
        </script>
    }
