<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">首頁</a>
                <a class="breadcrumb-item text-dark" href="#">物件</a>
                <span class="breadcrumb-item active">物件資料</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5" id="detailIndex">
    <div class="row px-xl-5" v-for="allHouseDetail in houseDetail">
        <div class="col-lg-5 mb-30">
            <div class="carousel slide" data-ride="carousel">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" :src="allHouseDetail.estateImage[0].imagePath" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" :href="getHouseDetailsLink(allHouseDetail.id)"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>{{allHouseDetail.tittle}}</h3>
                <div class="d-flex mb-3">
                    <small class="pt-1"></small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">${{allHouseDetail.price}}</h3>
                <p class="mb-4">
                    {{allHouseDetail.message}}
                </p>
                <div class="row">
                    <div class="d-flex col-4 ">
                        <strong class="text-dark mr-3">房型</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.roomType.name}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">樓層</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.floor}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">坪數</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.meters}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">房間</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.room}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">衛浴</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.bathroom}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">大廳</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.hall}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">租約</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.lease}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">汽車</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.car}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">機車</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.motorcycle}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-4">
                        <strong class="text-dark mr-3">雜費</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.miscellaneous}}</label>
                        </div>
                    </div>
                    <div class="d-flex col-8">
                        <strong class="text-dark mr-3">地址</strong>
                        <div class="custom-control custom-radio custom-control-inline">
                            <label class="custom-control-label" for="color-5">{{allHouseDetail.address}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
@section Scripts
    {
    <script>
        let app = new Vue({
            el: "#detailIndex",
            data: {
                houseDetail: "",
                houseDetailLink: "/Detail/HouseDetail/",
            },
            mounted: function () {
                let _self = this
                fetch("/api/detail/getallhousedetail")
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result)
                        _self.houseDetail = result
                    })
            },
            methods: {
                getHouseDetailsLink: function (houseId) {
                    return this.houseDetailLink + houseId
                },
            },
        });
    </script>
}
