<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">首頁/</a>
                <a class="breadcrumb-item text-dark" href="/estate/index">我的物件</a>
                <span class="breadcrumb-item active">詳細物件</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid" id="createEstate">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">詳細物件</span></h2>
    <div class="row px-xl-5 ">
        <div class="col-lg-12 mb-5" id="estateDetail">
            <div class="contact-form bg-light p-30">
                <div class="row" v-for="inf in detailinf">
                    <div class="col-md-6 form-group">
                        <div class="control-group">
                            <label>標題:</label>
                            <span class="form-control">{{inf.tittle}}</span>
                            <p class="help-block text-danger"></p>

                        </div>
                        <div class="control-group">
                            <label>房型:</label>
                            <span class="form-control">{{inf.roomType}}</span>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>LDK:</label>
                            <div class="row">
                                <span class="col-1">房:</span>
                                <span class="form-control col-2">{{inf.room}}</span>
                                <span class="col-1">廳:</span>
                                <span class="form-control col-2">{{inf.hall}}</span>
                                <span class="col-1">衛:</span>
                                <span class="form-control col-2">{{inf.bathroom}}</span>
                            </div>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>地址:</label>
                            <div class="row">
                                <span class="form-control col-2">{{inf.city}}</span>
                                <span class="form-control col-2">{{inf.district}}</span>
                                <span class="form-control col-5">{{inf.address}}</span>
                            </div>
                            <p class="help-block text-danger"></p>
                            <div class="row">
                                <span class="col-2">樓:</span>
                                <span class="col-3 form-control">{{inf.floor}}</span>
                            </div>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>價格(NT):</label>
                            <span class="form-control">{{inf.price}}</span>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>雜費(NT):</label>
                            <span class="form-control">{{inf.miscellaneous}}</span>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>坪數:</label>
                            <span class="form-control">{{inf.meters}}</span>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>車位:</label>
                            <div class="row">
                                <span class="col-2">汽車:</span>
                                <span class="col-3 form-control">{{inf.car}}</span>
                                <span class="col-2">機車:</span>
                                <span class="col-3 form-control">{{inf.motorcycle}}</span>
                            </div>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="control-group">
                            <label>擁有設備:</label>
                            <div v-for="item in inf.equipment">
                                <span class="form-control">{{item}}</span>
                            </div>
                            <p class="help-block text-danger"></p>
                            <div class="control-group">
                                <label>租約期(月):</label>
                                <span class="form-control">{{inf.lease}}</span>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>接受條件:</label>
                                <div class="form-control" v-for="item in inf.conditions">
                                    <span>{{item}}</span>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group">
                                <label>照片:</label>
                                <div class="row" v-for="item in inf.estateImage">
                                    <img class="col-6" :src="item" style="width:50%;height:50%"/>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>宣傳資訊:</label>
                                <textarea class="form-control" rows="8" readonly>>{{inf.message}}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <button class="btn py-2 px-4" style="background-color:red;color:white" type="button">
                                刪除
                            </button>
                            <button class="btn btn-primary py-2 px-4" style="background-color:cornflowerblue;color:white" type="button">
                                修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        let app = new Vue({
            el: "#estateDetail",
            data: {
                detailinf: "",
                detailId: @ViewBag.Id
            },
            mounted: function () {
                let self = this;
                fetch(`/Api/EstateApi/Detail?id=` + self.detailId)
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result)
                        self.detailinf = result
                    })
            },
            methods: {
                delete: function () {
                    let self = this;
                    fetch(`/api/estateapi/delete/` + self.detailId, {
                        method: "POST",
                        body: JSON.stringify(detailId),
                        headers: { "content-type": "application/json" }
                    }).then(function (response) {
                        return response.json()
                            .then(function (result) {
                                var al = {
                                    position: 'center',
                                    icon: 'success',
                                    title: '刪除成功',
                                    showConfirmButton: false,
                                    timer: 3000
                                };
                                if (!result.status) {
                                    al.icon = "error";
                                    al.title = "刪除失敗";
                                }
                                Swal.fire(al)
                                window.location = "/estate/index"
                            })
                    })
                },
                edit: function (){

                }
            },
        })
    </script>
    }