@model TeamCodingF4.Models.EstateModel

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">首頁</a>
                <a class="breadcrumb-item text-dark" href="/estate/index">我的物件</a>
                <span class="breadcrumb-item active">物件編輯</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">物件編輯</span></h2>
    <form action="/Estate/Create" method="post" name="Estate" enctype="multipart/form-data">
        <div class="row px-xl-5 ">
            <div class="col-lg-12 mb-5">
                <div class="contact-form bg-light p-30">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="control-group">
                                <label>標題</label>
                                <input asp-for="EstateTittle" type="text" class="form-control" name="EstateTittle" id="EstateTittle" placeholder="仁愛街新裝潢套房！離捷運站近" required />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>房型</label>
                                <select asp-for="RoomType" class="form-control" name="RoomType" id="RoomType">
                                    <option>透天</option>
                                    <option>套房</option>
                                    <option>雅房</option>
                                    <option>其他</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>地址</label>
                                <input asp-for="Address" type="text" class="form-control" name="Address" id="Address" placeholder="台北市中正區XX路X號X樓" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>價格(NT)</label>
                                <input asp-for="EststePrice" type="number" min="0" class="form-control" name="EststePrice" id="EststePrice" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>雜費(NT)</label>
                                <input asp-for="Miscellaneous" type="number" min="0" class="form-control" name="Miscellaneous" id="Miscellaneous" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>坪數</label>
                                <input asp-for="Meters" type="number" min="1" class="form-control" name="Meters" id="Meters" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>車位</label>
                                <div class="row">
                                    <span class="col-2">汽車:</span>
                                    <input asp-for="Car" type="number" value="0" class="form-control col-3" name="Car" id="Car" />
                                    <span class="col-2">機車:</span>
                                    <input asp-for="Motorcycle" type="number" value="0" class="form-control col-3" name="Motorcycle" id="Motorcycle" />
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="control-group">
                                <label>設備</label>
                                <div class="dropdown form-control">
                                    <div class="item text">
                                        <label></label>
                                    </div>
                                    <div class="item">
                                        <input asp-for="AirConditioner" type="checkbox" name="AirConditioner" id="AirConditioner" />
                                        <label for="AirConditioner">冷氣</label>
                                    </div>
                                    <div class="item">
                                        <input asp-for="Television" type="checkbox" name="Television" id="Television" />
                                        <label for="Television">電視</label>
                                    </div>
                                    <div class="item">
                                        <input asp-for="WetDry" type="checkbox" name="WetDry" id="WetDry " />
                                        <label for="WetDry">乾溼分離</label>
                                    </div>
                                    <div class="item">
                                        <input asp-for="Balcony" type="checkbox" name="Balcony" id="Balcony" />
                                        <label for="Balcony">陽台</label>
                                    </div>
                                    <div class="item">
                                        <input asp-for="WashingMachine" type="checkbox" name="WashingMachine" id="WashingMachine" />
                                        <label for="WashingMachine">洗衣機</label>
                                    </div>
                                    <div class="item">
                                        <input asp-for="WaterDispenser" type="checkbox" name="WaterDispenser" id="WaterDispenser" />
                                        <label for="WaterDispenser">飲水機</label>
                                    </div>
                                    <div class="item">
                                        <input asp-for="Refrigerator" type="checkbox" name="Refrigerator" id="Refrigerator" />
                                        <label for="Refrigerator">冰箱</label>
                                    </div>
                                </div>

                            </div>
                            <p class="help-block text-danger"></p>
                            <div class="control-group">
                                <label>租約期(月)</label>
                                <input asp-for="Lease" type="number" min="1" class="form-control" name="Lease" id="Lease" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>照片</label>
                                <input asp-for="EstateImage" type="file" class="form-control" name="EstateImage" id="EstateImage" multiple />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>影片</label>
                                <input asp-for="EstateVideo" type="file" class="form-control" name="EstateVideo" id="EstateVideo" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <label>其他資訊</label>
                                <textarea asp-for="message" class="form-control" rows="8" name="message" id="message" placeholder="Message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <button class="btn py-2 px-4" type="reset" id="reset" style="background-color:cornflowerblue;color:white">
                                取消
                            </button>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendEstateButton">
                                修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
