@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/Picture/5563.jpg_wh300.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <strong><h3 class="display-3 text-white mb-3 animate__animated animate__fadeInDown">租屋網避風港Perfect Haven</h3></strong>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">走過路過不要錯過</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="~/Shop/Index">租屋GO</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/Picture/article-612f18906003c.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <strong><h3 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">第一次租屋找不到人討論嗎?</h3></strong>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">可以到討論區和大家一起分享租屋的經驗喔😊</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="~/Article/Index">討論GO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Featured Start -->
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-5" id="detailIndex">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" v-for="allHouseEquipment in houseEquipment">
            <a class="text-decoration-none" href="">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" :src="allHouseEquipment.picture" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{allHouseEquipment.name}}</h6>                        
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Categories End -->
    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3" >
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">所有好屋</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1" v-for="allHouseDetail in houseDetail">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" :src="allHouseDetail.estateImage[0].imagePath" alt="">
                        <div class="product-action">                           
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{allHouseDetail.tittle}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>${{allHouseDetail.price}}</h5><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->
<!-- Offer Start -->
<!-- Offer End -->
<!-- Products Start -->
<!-- Products End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/img/vendor-1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor-2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor-3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor-4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor-6.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
@section Scripts
    {
    <script>
        let app = new Vue({
            el: "#detailIndex",
            data: {
                houseDetail: "",
                houseEquipment: "",
                    

                

            },
            mounted: function () {
                let _self = this
                fetch("/api/detail/getallhousedetail")
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result)
                        _self.houseDetail = result
                        
                    })
                fetch("/api/equipment/GetAllHouseEquipment")
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result)
                        _self.houseEquipment = result
                        console.log("r", _self.houseEquipment)
                    })
            },
            methods: {

            },
        });
    </script>
}

