    <!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">首頁</a>
                <a class="breadcrumb-item text-dark" href="#">物件</a>
                <span class="breadcrumb-item active">物件清單</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid" id="estateIndex">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <span class="input-icon input-icon-sm ml-auto w-auto">
                <input type="text"
                       class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                       placeholder="Search" v-model="searchText" />
            </span>
            
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">租金</span></h5>
            <div class="bg-light p-4 mb-30">

               
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="price-1" value="0-5000" v-model="price">
                    <label class="custom-control-label" for="price-1">5000以下</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="price-2" value="5000-10000" v-model="price">
                    <label class="custom-control-label" for="price-2">5000-10000元</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="price-3" value="10000-15000" v-model="price">
                    <label class="custom-control-label" for="price-3">10000-15000元</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="price-4" value="15000-20000" v-model="price">
                    <label class="custom-control-label" for="price-4">15000-20000元</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="price-5" value="20000-25000" v-model="price">
                    <label class="custom-control-label" for="price-5">20000-25000元</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="price-6" value="25000-30000" v-model="price">
                    <label class="custom-control-label" for="price-6">25000-30000元</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="price-7" value="30000-infinity" v-model="price">
                    <label class="custom-control-label" for="price-7">30000元以上</label>

                </div>

            </div>
            <!-- Price End -->
            <!-- Color Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">房型</span></h5>
            <div class="bg-light p-4 mb-30">
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="RoomType-1" value="透天" v-model="roomType">
                    <label class="custom-control-label" for="RoomType-1">透天</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="RoomType-2" value="套房" v-model="roomType">
                    <label class="custom-control-label" for="RoomType-2">套房</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="RoomType-4" value="雅房" v-model="roomType">
                    <label class="custom-control-label" for="RoomType-4">雅房</label>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                    <input type="checkbox" class="custom-control-input" id="RoomType-5" value="其他" v-model="roomType">
                    <label class="custom-control-label" for="RoomType-5">其他</label>
                </div>

            </div>
            
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">設備</span></h5>
            <div class="bg-light p-4 mb-30">
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="Airconditioner" value="冷氣" v-model="equipment">
                    <label class="custom-control-label" for="Airconditioner">冷氣</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="Television" value="電視" v-model="equipment">
                    <label class="custom-control-label" for="Television">電視</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="WetDry" value="乾濕分離" v-model="equipment">
                    <label class="custom-control-label" for="WetDry">乾溼分離</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="Balcony" value="陽台" v-model="equipment">
                    <label class="custom-control-label" for="Balcony">陽台</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="WashingMachine" value="洗衣機" v-model="equipment">
                    <label class="custom-control-label" for="WashingMachine">洗衣機</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="WaterDispenser" value="飲水機" v-model="equipment">
                    <label class="custom-control-label" for="WaterDispenser">飲水機</label>

                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="checkbox" class="custom-control-input" id="Refrigerator" value="冰箱" v-model="equipment">
                    <label class="custom-control-label" for="Refrigerator">冰箱</label>
                </div>
            </div>
            @*<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">設備</span></h5>
            <div class="bg-light p-2" v-for="houseEquipments in houseEquipment">
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between ml-4 ">
            <input type="checkbox" class="custom-control-input" id="equipment-all">
            <label class="custom-control-label" for="equipment-all">{{houseEquipments.name}}</label>
            </div>
            </div>*@            
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1" v-for="estateHouse in filteredHouse">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" :src="estateHouse.estateImage" style="height:200px;width:200px" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" :href="getHouseDetailsLink(estateHouse.id)"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">{{estateHouse.tittle}}</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>${{estateHouse.price}}</h5><h6 class="text-muted ml-2"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
@section Scripts
    {
    <script>
        let app = new Vue({
            el: "#estateIndex",
            data: {
                house: "",
                homeRoomType: [],
                
                allHouse: [],
                equipment: [],                
                houseDetailsLink: "/Detail/HouseDetail/",
                roomType:[],
                price:[],
                searchText:"",
            },
            computed:{
                filteredHouse:function(){
                    let _self = this
                    return this.showPrice(this.showRoomEquipment(this.showRoomType([...this.allHouse])))
                           .filter(x=>x.tittle.includes(_self.searchText))
                }
            },
            mounted: function () {
                let _self = this
                fetch("/api/shop/GetAllHouse")
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result)
                        _self.allHouse = result
                    })
            },          
            methods: {
                showRoomType: function (house) {
                    let self = this;
                    if(self.roomType.length >0){
                        return house.filter(x => self.roomType.find(t => x.roomType == t))
                    }
                    return house
                },
                showRoomEquipment: function (house) {
                    let self = this;
                    if (self.equipment.length > 0){
                        return house.filter(x => self.equipment.find(t => x.equipmentName.indexOf(t)>-1))
                    }
                    return house
                },
                showPrice: function (house) {
                    let self = this;
                    if (self.price.length > 0){
                        return house.filter(x => self.price.find(p => {
                            var range = p.split('-');
                            if (range[1] == 'infinity') {
                                return x.price >= range[0]
                            } else {
                                return range[1] >= x.price && x.price >= range[0]
                            }
                        }))
                    }
                    return house
                },
                getHouseDetailsLink: function (houseId) {
                    return this.houseDetailsLink + houseId
                },
            },
        });
    </script>
}