<div id="app">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>重設密碼</h1>
            <section>
                <hr />
                <div class="text-danger"></div>
                <div class="form-floating">
                    <label name="NewPwd" class="form-label">請輸入新密碼</label>
                    <input type="password" id="NewPwd" name="NewPwd" v-model="NewPwd" class="form-control" autocomplete="username" placeholder="New Password" aria-required="true" />
                    <span class="text-danger"></span>
                </div>
                <br />
                <div>
                    <button id="login-submit"
                            v-on:click="SetNewPwd()"
                            class="w-100 btn btn-lg btn-primary">
                        儲存新密碼
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                NewPwd: "",
            },
            methods: {
                SetNewPwd: function () {
                    let _self = this
                    if (this.NewPwd == "") {
                        swal('重設失敗', '請輸入新密碼。', 'error')
                            .then(function () {
                                window.location = "https://localhost:7213/account/SetNewPwd";
                            });
                        return;
                    }

                    var _token = "@ViewBag.id";

                    fetch('/Account/SetNewPwd', {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            Token: _token,
                            NewPwd: this.NewPwd,
                        })
                    }).then(function (response) {
                        return response.json()
                    }).then(function (result) {
                        console.log(result)
                        if (result.isOk == false) {
                            swal('重設失敗', '請檢查輸入的密碼。', 'error')
                        }
                        else {
                            swal({
                                title: '重設成功',
                                text: '5秒後自動跳轉至登入頁面，請重新登入。',
                                icon: 'success',
                                timer: 5000,
                            }).then(function () {
                                window.location = "https://localhost:7213/account/Signin";
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                        swal('重設失敗', '不知原因錯誤，請洽管理員。', 'error')
                    })
                }
            },
        })

    </script>
}