@model TeamCodingF4.Models.Account.LoginModel


<div id="app">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>會員登入</h1>
            <section>
                <hr />
                <div class="text-danger"></div>
                <div class="form-floating">
                    <label name="Email" class="form-label">帳號</label>
                    <input id="Email" name="Email" v-model="Email" class="form-control" autocomplete="username" placeholder="name@example.com" aria-required="true" />
                    <span class="text-danger"></span>
                </div>
                <br />
                <div class="form-floating">
                    <label name="Password" class="form-label">密碼</label>
                    <input type="password" id="Password" name="Password" v-model="Password" class="form-control" autocomplete="current-password" placeholder=密碼 aria-required="true" />
                    <span class="text-danger"></span>
                </div>
                <br />
                <div>
                    <button id="login-submit"
                            v-on:click="DoLogin()"
                            class="w-100 btn btn-lg btn-primary">
                        登入
                    </button>
                </div>
                <div>
                    <p>
                        <a href="/Account/ForgetPwd" id="forgot-password">忘記密碼了嗎?</a>
                        <br />
                        <a href="/Account/Register">註冊新帳號</a>

                    </p>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                Email: "",
                Password: "",
            },
            methods: {
                DoLogin: function () {
                    let _self = this
                    if (this.Email == "" || this.Password == "") {
                        alert("請輸入帳號及密碼。");
                        return;
                    }

                    fetch('/Account/Signin', {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            Email: this.Email,
                            Password: this.Password,
                        })
                    }).then(function (response) {
                        return response.json()
                    }).then(function (result) {
                        console.log(result)
                        if (result.isOk == false) {
                            swal('登入失敗', '請檢察輸入的Email或密碼。', 'error')
                                .then(function () {
                                    window.location = "https://localhost:7213/account/signin";
                                });
                        }
                        else {
                            swal({
                                title: '登入成功',
                                text: '5秒後自動跳轉至首頁',
                                icon: 'success',
                                timer: 5000,
                            }).then(function () {
                                window.location = "https://localhost:7213/home/index";
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                        swal('登入失敗', '不知原因錯誤，請洽管理員。', 'error')
                    })
                }
            },
        })

    </script>
}
