<a>驗證成功，5秒後自動回到登入頁面，請重新登入</a>

<a>如不想等待，請點</a>
<a style="color:blue" href="https://localhost:7213/account/signin">這裡</a>
<a>跳轉。</a>
@section scripts {
<script>
        setTimeout("location.href = 'https://localhost:7213/account/signin'",5000)
</script>
}